.all-detail{
 
    background-color: rgba(255, 123, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
    width: 100%;
}
.all-detailReal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.all-productDetail{
    background-color: rgba(153, 153, 153, 0);
   
}
.all-productPic{
    background-color: rgba(137, 43, 226, 0);
    border: 1px solid black ;
    display: flex ;
    justify-content: center ;
    flex-direction: column;
    /* align-items: center ; */
    
   
}
.big-pic{
    display: flex ;
   justify-content: center ;
    border: 1px solid black ;
    width: 100%;
    height: 500px;
    /* margin-left: 120px;  */
    
}
.big-pic >img{
    width: 80%;
    height: 500px;
}

.list-pic >ul{
   display: flex; 
   /* border: 1px solid black ; */
   justify-content: center;
}
.list-pic >ul >li{ 
    width: 100px;
    height: 100px;
    margin: 10px;
    background: linear-gradient(blue,black,white);
  
    border: 1px solid red;
}
@media (max-width: 1000px) {
    .big-pic{
       
        justify-items: center; 
        width: 400px;
        height: 500px;
      
        margin-left: 150px; 
    }
    .big-pic >img{
        width: 100%;
        height: 500px;
    }
   
}
@media (max-width: 800px) {
    .big-pic{
       
        justify-items: center; 
        
      
        margin-left: 70px; 
    }
    .big-pic >img{
        width: 100%;
        height: 500px;
    }
   
}
@media (max-width: 600px) {
    .big-pic{
       
        justify-items: center; 
        
      margin-left: 10px;
      
    }
    .big-pic >img{
        width: 100%;
        height: 500px;
    }
   
}
