.all-detail{
 
    background-color: rgb(255, 123, 0);
    width: 100%;
}
.all-detailReal{
    width: 100%;
}
.all-productDetail{
    background-color: blueviolet;
   
}
.all-productPic{
    background-color: blueviolet;
   
}